

.initial_section {
  height: 40%;
  background-color: #E41827;
  padding: 1rem 10rem;
  display: flex;
  justify-content: space-between;
}

.initial_section a {
  height: 70%;
  display: block;
}

.initial_section a h1{
   font-size: 2.7rem;
   color: #fff;
   font-style: italic;

}

.initial_section a span {
    border-top: 2px solid #fff;
    width: 100%;
    display: block;
}

.bet_categories {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 0 10rem;
  background-color: white;
  list-style: none;
  font-size: 0.87rem;
}

.bet_categories li {
  cursor: pointer;
  height: 100%;
  padding: 0.5rem 1rem;

  text-align: center;
}

.bet_categories li:hover {
    border-bottom: 4px solid rgba(240, 93, 88, 0.5);
}

.bet_categories li.active {
  border-bottom: 4px solid #ee3e38;
}

